{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>{% block title %}Medico{% endblock %}</title>
    {% bootstrap_css %}
  </head>
  
  <body class="bg-light">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'accueil' %}">Medico</a>
        <div>
            <a href="{% url 'accueil' %}" class="btn btn-outline-light btn-sm">Accueil</a>
            <a href="{% url 'consultations' %}" class="btn btn-outline-light btn-sm">Consultations</a>
            <a href="{% url 'nouvelle_consultation' %}" class="btn btn-outline-light btn-sm">Nouvelle consultation</a>
            <a href="{% url 'black_market_confirm' %}" class="btn btn-outline-light btn-sm">
              <img src="{% static 'medico/images/poison-bottle.svg' %}" alt="Blackmarket" class="d-inline-block align-top" style="height: 22px; width: 24px;">
            </a>

        </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <footer class="text-center text-muted mt-5 py-3 border-top">
    Projet Django - Université d’Orléans — AMGHAR | FAURE BIGNOLAS | GOMES CARDOSO | BODIN
  </footer>

</body>
</html>