{% extends "medico/base.html" %}

{% block title %}Attention ! Accès Black-Market{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="text-danger mb-4">Attention ! Accès au Black-Market</h1>
    <p class="lead">Vous vous apprêtez à entrer dans une section non autorisée de l'application. Veuillez confirmer que vous souhaitez continuer.</p>
    <div class="mt-4">
        <a class="btn btn-danger mx-2" href="{% url 'black_market' %}">Confirmer l'accès</a>
        <a class="btn btn-secondary mx-2" href="{% url 'accueil' %}">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
