{% extends "medico/base_blackmarket.html" %}
{% load static %}

{% block title %}Black-Market{% endblock %}

{% block scripts %}
<script src="{% static 'medico/javascript/terminal.js' %}"></script>
{% endblock %}

{% block content %}

<div id="terminal-sequence" class="terminal-border">
    <div class="console-line"> <span class="console-prompt">$</span> <span class="console-output">Initialisation du shop...</span> </div>
    <div class="console-line"> <span class="console-prompt">$</span> <span class="console-output">[OK] Shop initialisé</span> </div>
    <div class="console-line"> <span class="console-prompt">$</span> <span class="console-output">Chargement des articles disponibles...</span> </div>
    <div class="console-line"> <span class="console-prompt">$</span> <span class="console-output">[OK] Articles chargés avec succès</span> </div>
</div>


<div id="blackmarket-content" style="display: none;">
    <div class="text-center">
        <h1 class="mb-4 terminal-title">Bienvenue dans le Black-Market</h1>
            <p class="lead">Ici, vous pouvez accéder à des fonctionnalités avancées et non documentées de l'application.
            Utilisez-les avec précaution.</p>
    </div>

    <div class="d-flex justify-content-end mt-4 mb-4">
        <a href="{% url 'panier' %}" class="btn btn-outline-bm floating-cart" id="floating-cart">Voir mon panier 
        {% if panier_nombre_articles > 0 %}
            ({{ panier_nombre_articles }})
        {% endif %}
        </a>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in items %}
     <div class="col">
        <div class="card h-100 text-center p-3 shadow-sm">

            <img src="{% static item.image_url %}" class="card-img-top mx-auto" alt="{{ item.nom_item }}"
                style="height: 100px; width: 100px; object-fit: contain;">

            <div class="card-body">
                <h5 class="card-title glow">{{ item.nom_item }}</h5>
                <p class="card-text">{{ item.description }}</p>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <span class="fw-bold card-text">{{ item.prix }} crédits</span>
                <a href="{% url 'ajouter_au_panier' item.id %}" class="btn btn-sm">Ajouter</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}