{% extends "medico/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Changer Traitement{% endblock %}

{% block content %}
<h2>Modifier un traitement</h2>

<form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}
    {% bootstrap_form form layout='vertical' %}
    <div class="mt-3 d-flex gap-2">
    <button type="submit" class="btn btn-success flex-grow-1">Enregistrer</button>
    <a href="{% url 'consultation' id_consultation %}" class="btn btn-secondary flex-grow-1">Retour</a>
    </div>
</form>
{% endblock %}


